/*
    font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bebas Neue', cursive;
*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 750px){
    html{
        font-size: 11px;
    }
}

body{
    font-family: 'Oswald', sans-serif;
}

.main-container{
    width: 90%;
    margin: 0 auto;
}

/******HEADER********/
.header{
    /* border: 2px solid black; */
    background-color: #eeeeee;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 7em;
}

.header-navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.header-navigation-container{
    margin-top: 2em;
    margin-right: 4em;
    display: flex;
}

.header-navigation-item{
    margin-left: 2em;
    list-style-type: none;
}

.header-navigation-item a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
}

/* .header-navigation-item a:active,
.header-navigation-item a:focus {
    border-bottom: 4px solid orangered;
    transition: 0.1s;
} */
.header-navigation-item a:hover{
    border-bottom: 4px solid orangered;
    transition: 0.1s;
}

.header-sec-intro{
    margin-top: 5em;
    font-weight: 300;
    font-size: 2.5rem;
}

.header-main-intro{
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 1em;
    margin-bottom: 1em;
    /* color: orangered; */
}

.header-main-intro::after{
    content: '';
    border-bottom: 2px solid black;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    display: block;
}

.contact-button{
    padding: 0.3em 1.5em;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 4em;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
}

.contact-button:hover{
    background-color: #272727;
    color: white;
    box-shadow: 10px 10px 50px solid grey;
}

.social-container{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: -2em;
    padding-bottom: 10em;
}

.social-item{
    margin-left: 1.5em;
    filter: grayscale(100);
    transition: 0.1s;
}

.social-item:hover{
    filter: grayscale(0);
}

.social-icon{
    width: 35px;
}

@media only screen and (max-width: 500px){
    .header-navigation{
        flex-direction: column;
    }
    .header-navigation-container{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }
    .header-navigation-item{
        margin:0 0.7em;
    }
    .header-navigation-item a{
        font-size: 2.5rem;
    }

}


/**********ABOUT********/
/***********************/

.about{
    text-align: center;
    margin-bottom: 8em;
}

.about-head{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.5em;
}

.about-head::after{
    content: '';
    border-bottom: 2px solid orangered;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    display: block;
}

.about-container{
    display: flex;
    justify-content: space-between;
}

.about-head-left{
    /* border: 2px solid black; */
    width: 60%;
    text-align: left;
}

.about-head-sub{
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1.5em;
}

.about-head-bio{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5em;
}
.about-head-pic{
    width: 100%;
}

@media only screen and (max-width: 1200px){
    .about-container{
        flex-direction: column;
    }
    .about-head-pic{
        display: none;
    }
    .about-head-left{
        width: 100%;
    }
    .about-head-bio{
        width: 100%;
    }
}


/*******SKILL*******/
/*******************/

.skill{
    text-align: center;
}

.skill-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12em;
}

.skill-head{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 3em;
}

.skill-head::after{
    content: '';
    border-bottom: 2px solid orangered;
    margin: 0 auto;
    width: 2em;
    text-align: center;
    display: block;
}

.skill-container-sub{
    width: 50%;
    margin-left: 2em;
    /* border: 2px solid black; */
}
.skill-container-sub + .skill-container-sub{
    border-left: solid 1px rgb(95, 95, 95);
    
}

.skill-container-sub h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 3em;
}

.skill-container-sub ul{
    display: grid;
    grid-template-columns: auto auto;
}

.skill-container-sub ul li{
    font-weight: 300;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em 1em;
}


@media only screen and (max-width: 750px){
    .skill-head{
        margin-bottom: 2em;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
    }
    .skill-container-sub + .skill-container-sub{
        border-left: none;
    }
    .skill-container-sub ul{
        display: grid;
        grid-template-columns: auto;
    }
    .skill-container-sub{
        margin-left: 0;
        margin-bottom: 3em;
    }
    .skill-container-sub ul li{
        font-size: 1.7rem;
        margin: 0.5em 0;
        /* margin: 0.5em 1em; */
    }
    .skill-container-sub + .skill-container-sub{
        margin-bottom:  solid 1px rgb(95, 95, 95);
    }
}


/********FOOTER********/
/**********************/

.footer{
    background-color: #272727;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 7em 0;
}

.logo-disc-text{
    width: 70%;
    margin-top: -50px;
}

.footer-sub-section-head{
    margin-bottom: 1em;
}

.footer-sub-section ul li{
    list-style-type: none;
    color: white;    
    margin-bottom: 0.3em;
}

.footer-sub-section-item a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

@media only screen and (max-width: 750px){
    .footer{
        display: grid;
        grid-template-areas: "i i i"
                             "l l l";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
        text-align: center;                 
    }

    .logo-disc-text{
        display: none;
    }

    .logo-disc{
        grid-area: i;
    }
    .logo-disc-img{
        margin-right: -5em;
    }
}


/************WORK***************/
/*******************************/

.work{
    text-align: center;
    margin-bottom: 15em;
}

.work-head{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 3em;
}

/* .work-head::after{
    content: '';
    border-bottom: 2px solid orangered;
    margin: 0 auto;
    width: 7em;
    text-align: center;
    display: block;
} */

.work-container{
    display: flex;
    /* background: #313131; */
    margin-bottom: 2em;
}

.work-item{

    min-width: 5em;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #272727;
    /* box-shadow: -1em 0 1rem #000; */
    transition: 0.2s;
}

.work-item:not(:first-child){
    margin-left: -20em;
}

.work-item:hover{
    transform: translateY(-3em);
}

.work-item:hover~.work-item{
    transform: translateX(15em);
}

/* .work-item:not(:first-child){
    transform: translateX(-2em);
} */

.work-item img{
    width: 100%;
    filter: grayscale(100);
    transition: 0.7s;
    border-radius: 15px;
    box-shadow: -0.5em 0 1rem #000;
}

.work-item img:hover{
    filter: grayscale(0);
}

@media only screen and (max-width:450px){
    .work-container{
       flex-direction: column;
    }
}

/********FORM*******/
/*******************/

.form{
    border: 2px solid black;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.form-fullname{
    grid-column: 1/2;
}

.form-email{
    grid-column: 2/3;
}

.form-subject{
    grid-column: 1/3;
}

.form-message{
    grid-column: 1/3;
}